main{
  #home{
    color: #fff;
    background-color: #1C1C1C;
    padding-bottom: 1.5em;
    h2{
      background-color: #0282F9;
      width: auto;
      @include py(0.2em);
      @include px(0.6em);
      font-size: 2.5em;
      display: inline-block;
      margin-top: -2.2em;
    }
    .card{
      margin: 2em 0;
      .cover{
        width: 100%;
        padding-top: 100%;
      }
    }
    .load{
      justify-content: center;
      a.more{
        padding: 0.5em 5em;
        font-weight: bold;
        background-color: #0282F9;
        margin: 0 auto;
      }
    }
  }
  #comic{
    .container{
      width: 55%;
    }
    .blu{
      background-color: #0282F9;
      height: 75px;
    }
    .trama{
      padding: 5em 0;
      .container{
        position: relative;
        .thumb{
          position: absolute;
          top: -28em;
          span{
            background-color: #00A9D9;
            color: #fff;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            text-align: center;
          }
        }
        h1{
          color: #003f5e;
          font-size: 2.4em;
        }
        .table{
          background-color: #55BA59;
          color: #fff;
          margin: 1em 0;
          span{
            opacity: 0.6;
            &.white{
              opacity: 1;

            }
          }
          font-weight: bold;
          font-size: 1.1em;
          height: 50px;
          justify-content: space-between;
          border-bottom: 1px solid #000;
          align-items: center;
          .price-av{
            width: 70%;
            justify-content: space-between;
            padding: 0 20px;
          }
          .available{
            border-left: 1px solid #000;
            height: 100%;
            align-items: center;
            width: 30%;
            justify-content: center;
            i{
              margin-left: 10px;
            }
          }
        }
        p{
          font-size: 1.1em;
          font-weight: bold;
          color: #555;
        }
        .advertisement{
          color: #555;
          font-weight: bold;
          right: -5.5em;
          top: -1.5em;
        }
      }
    }
    .details{
      color: #003f5e;
      background-color: #F6F6F6;
      padding-bottom: 6em;
      h2{
        font-size: 1.6em;
        padding: 1em 0;
      }
      .riga{
        border-top: 1px solid #e3e3e3;
        padding: 0.5em 0;
        &.doppia{
          border-bottom: 1px solid #e3e3e3;
        }
      }
      .title{
        width: 300px;
      }
      span{
        font-size: 0.8em;
        font-weight: bold;
      }
      .list{
        flex-wrap: wrap;
        width: 600px;
        span:after{
          content: ',';
        }
        span:last-of-type:after{
          content: '';
        }
      }
      a{
        color: #00a9d9;
        cursor: pointer;
      }

    }
  }
}
